{% extends 'home.html' %}
{% block content %}
<center>
        <h2 style="color: cornflowerblue;"><u>Login Form</u></h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username" required><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br><br>
                <button type="submit">Login
                    </button>

        </form>
            <button type='submit' onclick="location.href='{% url 'register' %}'">Not registered? Register now</button>
        
    </center>
    {% endblock %}
    


